@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-dark: hsl(0, 0%, 100%);
  --color-neutral: hsl(0, 0%, 95%);
  --color-light: hsl(0, 0%, 90%);

  --color-border: hsl(0, 0%, 85%);
  --color-highline: hsl(0, 0%, 85%);
  --color-bottomline: hsl(0, 0%, 85%);

  --color-text: hsl(0, 0%, 10%);
  --color-muted: hsl(0, 0%, 25%);

  --container-7xl: 1278px;
  --tw-duration: 100;

  --color-danger: #FA3333;
  --color-warning: #fbbd08;
  --color-succes: #21ba45;

  --color-main-50: #fffee7;
  --color-main-100: #fffdc1;
  --color-main-200: #fff786;
  --color-main-300: #ffea41;
  --color-main-400: #ffd80d;
  --color-main-500: #fdc700;
  --color-main-600: #d19200;
  --color-main-700: #a66802;
  --color-main-800: #89510a;
  --color-main-900: #74420f;
  --color-main-950: #442204;
}

.dark {
  --color-dark: hsl(0, 0%, 5%);
  --color-neutral: hsl(0, 0%, 10%);
  --color-light: hsl(0, 0%, 15%);

  --color-border: hsl(0, 0%, 20%);
  --color-highline: hsl(0, 0%, 24%);
  --color-bottomline: hsl(0, 0%, 14%);

  --color-text: hsl(0, 0%, 90%);
  --color-muted: hsl(0, 0%, 75%);
}

@layer base {
  body {
    @apply text-[var(--color-text)];
  }
}

* {
  font-family: 'poppins';
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

input:focus {
  outline: 1px var(--color-main-400) solid;
}

textarea:focus {
  outline: 1px var(--color-text) solid;
}